<!DOCTYPE html>
<html>
   <head>
		<!-- Page Title -->
		<title> Network Analysis and Traffic Monitoring Tool </title>
		
		<!-- HTML Settings -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	  
		<!-- CSS imports -->
		<!-- <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css') }}" /> -->
		<link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
		<link rel="stylesheet" href="{{ static_url('css/RPiHWGuide-ThemeV9.min.css') }}"/>
		<link rel="stylesheet" href="{{ static_url('css/jquery.mobile.icons.min.css') }}"/>
		<link rel="stylesheet" href="{{ static_url('css/jquery.mobile.structure-1.4.5.min.css') }}"/>
		<link rel="stylesheet" href="{{ static_url('css/styles.css') }}"/>
		
		<!-- Javascript imports -->
		<!-- <script type='text/javascript' src="js/jquery-1.11.2.min.js') }}"></script> -->
		<script type='text/javascript' src="{{ static_url('js/jquery-2.1.4.min.js') }}"></script>
		<script type='text/javascript' src="{{ static_url('js/jquery.mobile-1.4.5.min.js') }}"></script>
		<script>jQuery.noConflict();</script>
		
		<!-- Cordova / PhoneGap imports [DISABLED] -->
		<!-- TODO: Update Cordova to latest version and learn how to implement "swipes" from the cordova library -->
		<!--<script type='text/javascript' src="js/cordova/cordova-android.js') }}"></script>-->
		
   </head>
   <body>
   
	<!-- JQuery page -->
	<div data-role="page" id='home' data-theme="b">
		<!-- page -- header -->
		<div data-role="header">
			<h1> Donkey Car Manager </h1>
		</div>
		
		<!-- page -- main body -->
		<div data-role="content">
			<h1 class="header-banner">Donkey Car Manager</h1>
			<br>
			
			<!-- LEVEL ONE OF DISPLAY -->
			<div class="ui-grid-a">
				<button onclick="postCopy()"> Copy Data </button>
				<button onclick="postUnmount()"> Unmount USB </button>
			</div> <!-- end grid -->
			
			
			<!-- LEVEL TWO OF DISPLAY -->
			<div class="ui-grid-a">
				

				<h2 class="ui-bar ui-bar-a"> Latest Events </h2>
				<div class="ui-body ui-body-a" style="text-align: left;"> 

					{% for event in data['latest_events'] %}
						<p> {{ event }} </p>
					{% end %}

				</div>

			
			</div> <!-- end grid -->

			
		</div><!-- /content -->
		
		<!-- page -- footer -->
		<div data-role="footer" data-position="fixed" data-tap-toggle="false" style="text-align:center;">
			<h5>Created by wallarug</h5>
		</div>
		<!-- /footer -->
	</div>
	
   </body>
   
   <script type="text/javascript">
	  $( document ).ready(function() {
		console.log( "document ready!" );
		driveHandler.load()
	  });
	  
	  var postCopy = function(){
		// Send command (optional) to server
		data = JSON.stringify({ 'command' : 'copy'})
		console.log('copying data')
		$.post('/copymount', data)
	  };
	  var postUnmount = function(){
		// Send command (optional) to server
		data = JSON.stringify({ 'command' : 'unmount'})
		console.log('USB unmounted')
		$.post('/unmount', data)
	  
	</script>
 </html>